@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

:root{
    --primary: rgb(125,89,252);
    --dark: #333;
    --white: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--dark);
}